@media (max-width: 576px) {
  .form-submit {
    margin-top: 24px;
    width: 100% !important;
  }

  .form-footer {
    padding-top: 0px !important;
  }

  .form-fee div {
    text-align: center !important;
  }

  .top-available {
    text-align: center !important;
  }

  .top-button {
    margin-left: auto;
    margin-right: auto;
  }
}
